---
title: Blue Ridge Relay 2014
layout: default
description: Blue Ridge 2014 Relay Race Information
tags: ['2014', 'Blue Ridge', 'Relay Race', 'future']
homepage: http://www.blueridgerelay.com/
map: /relay/maps/2013BlueRidge.json
race_dates: Sept 5-6, 2014
start_date: 2014-09-05
registration: Open
loc_start: Mouth of Wilson, VA
loc_finish: Ashville, NC
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<p><em>Race map and leg information from 2013</em></p>
