---
title: Relay Races
layout: default
---
<h1><%= @item[:title] %> </h1>

<%= render "partials/breadcrumb" %>

<style>
tbody tr:nth-child(odd) {
   background-color: #e3e3e3;
}
</style>

<h2>Relay Races</h2>
<table>
  <tr>
    <th>Race</th>
    <th>Start Location</th>
    <th>Dates</th>
    <th>Registration</th>
  </tr>
  <% items = items_with_tag("future") %>
  <% items.sort! { |a,b| a[:start_date] <=> b[:start_date] } %>
  <% items.each do |i| %>
  <tr>
    <td><%= link_to "#{i[:title]}", i %></td>
    <td><%= "#{i[:loc_start]}" %></td>
    <td><%= "#{i[:race_dates]}" %></td>
    <td><%= "#{i[:registration]}" %></td>
  </tr>
  <% end %>
</table>

<!-- page list for past years-->
<h2>Previous</h2>
<h3>2013</h3>
<ul>
  <% items_with_tag("2013").each do |i| %>
    <li><%= link_to "#{i[:title]}", i %></li>
  <% end %>
</ul>
