---
title: Ragnar Colorado 2014
layout: default
description: Ragnar Colorado 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Colorado', 'Relay Race', 'future']
homepage: http://www.ragnarrelay.com/race/colorado
map:
race_dates: Aug 8-9, 2014
start_date: 2014-08-08
registration: Closed
loc_start: Copper Mountain, CO
loc_finish: Aspen/Snowmass, CO
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
