---
title: Ragnar Florida Keys 2015
layout: default
description: Ragnar Florida Keys 2015 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Forida Keys', 'Relay Race']
homepage: http://www.ragnarrelay.com/race/floridakeys
map:
race_dates: February 6-7, 2015
registration: Closed
loc_start: Miami, FL
loc_finish: Key West, FL
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
