---
title: Ragnar Cape Cod 2014
layout: default
description: Ragnar Cape Cod 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Cape Cod', 'Relay Race', 'future']
homepage: http://www.ragnarrelay.com/race/capecod
map:
race_dates: May 9-10, 2014
start_date: 2014-05-09
registration: Open
loc_start: Hull, MA
loc_finish: Provincetown, MA
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
