---
title: Ragnar Northwest Passage 2014
layout: default
description: Ragnar Northwest Passage 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Northwest Passage', 'Relay Race', 'future']
homepage: http://www.ragnarrelay.com/race/northwestpassage
map:
race_dates: July 18-19, 2014
start_date: 2014-07-18
registration: Closed
loc_start: Blaine, WA
loc_finish: Langley, WA
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
