---
title: Ragnar Chicago 2014
layout: default
description: Ragnar Chicago 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Chicago', 'Relay Race', 'future']
homepage: http://www.ragnarrelay.com/race/chicago
map:
race_dates: June 6-7, 2014
start_date: 2014-06-06
registration: Open
loc_start: Madison, WI
loc_finish: Chicago, IL
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
