---
title: Ragnar Las Vegas 2014
layout: default
description: Ragnar Las Vegas 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Las Vegas', 'Relay Race', 'future']
homepage: http://www.ragnarrelay.com/race/lasvegas
map:
race_dates: Nov 7-8, 2014
start_date: 2014-11-07
registration: Open
loc_start: Las Vegas Ski & Snoboard Resort, NV
loc_finish: Red Rock Resort, NV
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
