---
title: Ragnar Napa Valley 2014
layout: default
description: Ragnar Napa Valley 2014 Relay Race Information
tags: ['2014', Ragnar', 'Ragnar Napa Valley', 'Relay Race']
homepage: http://www.ragnarrelay.com/race/napavalley
map:
race_dates: September 19-20, 2014
registration: Open
loc_start: San Francisco, CA
loc_finish: Calistoga, CA
---
<h1><%= @item[:title] %></h1>

<%= render "partials/breadcrumb" %>

<ul>
  <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
  <li>Dates: <%= @item[:race_dates] %></li>
  <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
  <li>Registration: <%= @item[:registration] %></li>
</ul>

<%= render "partials/relaymap" %>
