---
title: About White Cargo Van
---
White Cargo Van is a site dedicated to helping people interested in running
overnight relay races. It doesn't matter if it is your first time as a
participant or you have been captain since a race began years ago. The maps
for the site are hosted on
%a{:href=>"https://github.com/peterfpeterson/relay-maps"} github
and can be contributed to.
