---
title: Home
---

<h1>White Cargo Van</h1>

<em>Helping friends find sweaty friends in the dark</em>

<p>This site is dedicated to overnight relays and the logistics involved in 
planning and executing one. Hopefully you will find a race, plan your team's 
exchanges, and arrive with sufficient time to exchange runners with minimum 
effort.</p>

<p><%= link_to( "List of Relay Races", "relay" ) %></p>
<br>

<h3>Marathon Record Times</h3>

<!-- hotlink d3 into the page -->
<%= web_api("d3") %>

<!-- marathon records plot -->
<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}

.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0.7;
    transition: opacity 0.3s;
}

div.tooltip {
    position: absolute;
    text-align:left;
}
</style>

<div id="marathon_rec"></div>

<script>

var div_width = parseInt(d3.select("#marathon_rec").style("width"))
var margin = {top: 10, right: 10, bottom: 30, left: 60},
    width = div_width - margin.left - margin.right,
    height = (div_width * 4 / 7) - margin.top - margin.bottom;

var parseDate = d3.time.format("%x").parse; // date, as "%m/%d/%Y"
var parseTime = d3.time.format("%X").parse; // time, as "%H:%M:%S"

var dateOutFormat = d3.time.format("%d-%b-%Y");
var timeOutFormat = d3.time.format("%H:%M:%S");

var bisect = d3.bisector(function(datum) {
  return datum.date;
}).right;

var x = d3.time.scale()
    .range([0, width])
    .domain([new Date(1905, 06, 20), new Date()]);

var y = d3.time.scale()
    .range([height, 0])
    .domain([new Date("Jan 01 1900 01:30:00"), new Date("Jan 01 1900 04:00:00")])
    //.ticks([d3.time.minute, 10]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.time.format("%H:%M"));

var line = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.time); })
    .interpolate("step-after");

var svg = d3.select("#marathon_rec").append("svg:svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("svg:g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var div_men = d3.select("#marathon_rec").append("div")
                .attr("class", "tooltip")
                .style("position", "absolute")
                .style("z-index", "100")
                .style("visibility", "visible");

var div_women = d3.select("#marathon_rec").append("div")
                .attr("class", "tooltip")
                .style("position", "absolute")
                .style("z-index", "100")
                .style("visibility", "visible");

svg.append("g")
   .attr("class", "x axis")
   .attr("transform", "translate(0," + height + ")")
   .attr("dy", ".71em")
   .call(xAxis);

svg.append("g")
   .attr("class", "y axis")
   .call(yAxis)
   .append("text")
   .attr("transform", "rotate(-90)")
   .attr("y", 6)
   .attr("dy", ".71em")
   .style("text-anchor", "end")
   .text("Time (HH:MM)");

// first mens record in 1908, womens in 1926 (18 year difference)
// last mens in 2013, womens in 2003 (10 year difference)
var men_start = 0;
var men_duration = (2013-1908)*20;
var women_start = (1926-1908)*20;
var women_duration = (2003-1926)*20;

d3.csv("marathon_men.csv", 
  function(d) {
    return {
      date: parseDate(d.date),
      time: parseTime(d.time),
      name: d.name
    };
  },
  function(error, data) {
  //console.log("men's record");
  //console.log(data);
  data_men = data;

  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));

  var path = svg.append("path")
     .datum(data)
     .attr("class", "line")
     .attr("d", line)
     .style("stroke", "steelblue");

  var totalLength = path.node().getTotalLength();
  path.attr("stroke-dasharray", totalLength + " " + totalLength)
      .attr("stroke-dashoffset", totalLength)
      .transition()
      .duration(men_duration)
      .delay(men_start)
      .ease("linear")
      .attr("stroke-dashoffset", 0);

});

d3.csv("marathon_women.csv", 
  function(d) {
    return {
      date: parseDate(d.date),
      time: parseTime(d.time),
      name: d.name
    };
  },
  function(error, data) {
  //console.log("women's record");
  //console.log(data);

  data_women = data;
  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));

  var path = svg.append("path")
     .datum(data)
     .attr("class", "line")
     .attr("d", line)
     .style("stroke", "tomato");

  var totalLength = path.node().getTotalLength();
  path.attr("stroke-dasharray", totalLength + " " + totalLength)
      .attr("stroke-dashoffset", totalLength)
      .transition()
      .duration(women_duration)
      .delay(women_start)
      .ease("linear")
      .attr("stroke-dashoffset", 0);

});

var focus_men = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");
focus_men.append("circle")
         .style("stroke", "steelblue")
         .attr("r", 4.5);

var focus_women = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");
focus_women.append("circle")
         .style("stroke", "tomato")
         .attr("r", 4.5);

var pos = getNodePos(d3.select("#marathon_rec").node());
//console.log(pos + " w=" + width +" h=" + height);
div_men.style("left", pos.x + .15*width  + "px")
       .style("top",  pos.y + .65*height + "px");
div_women.style("left", pos.x + .15*width  + "px")
         .style("top",  pos.y + .15*height + "px");

svg.append("rect")
   .attr("class", "overlay")
   .attr("width", width)
   .attr("height", height)
   .on("mouseover", function() {
      focus_men.style("display", null);
      focus_women.style("display", null);
      div_men.transition()
             .duration(200)
             .style("visibility", "visible");
      div_women.transition()
               .duration(200)
               .style("visibility", "visible");
   })
   .on("mouseout", function() {
      focus_men.style("display", "none");
      focus_women.style("display", "none");
      div_men.transition()
             .duration(200)
             .style("visibility", "hidden");
      div_women.transition()
               .duration(200)
               .style("visibility", "hidden");
   })
   .on("mousemove", mousemove);

// http://stackoverflow.com/questions/288699/get-the-position-of-a-div-span-tag
// dirty hack/fixes for FireFox (code barfed on FF with NaN/NaN)
function getNodePos(el)
{
    var body = d3.select('body').node();

    for (var lx = 0, ly = 0;
         el != null && el != body;
         lx += (el.offsetLeft || el.clientLeft), ly += (el.offsetTop || el.clientTop), el = (el.offsetParent || el.parentNode))
        ;
    return {x: lx, y: ly};
}

function updateReadout(gender, focus, div, data, x0)
{
  var i = bisect(data, x0, 1);
  var d = data[0]
  if (i >= data.length)
  {
    d = data[data.length-1];
  }
  else if (i >= 1)
  {
    var d0 = data[i - 1];
    var d1 = data[i];
    d = x0 - d0.date > d1.date - x0 ? d1 : d0;
  }
  if (d.date !== undefined)
  {
//    console.log("translate(" + x(d.date) + "," + y(d.time) + ")");
    focus.attr("transform", "translate(" + x(d.date) + "," + y(d.time) + ")");

    div.transition()
       .duration(200)
       .style("visibility", "visible");

    div.html(gender +"<br/>"
             +timeOutFormat(d.time)+"<br/>"
             +"on "+dateOutFormat(d.date)+"<br/>"
             +"by "+d.name);
  }
  else
  {
    div.transition()
       .duration(200)
       .style("visibility", "hidden");
  }
}

function mousemove() {
  var x0 = x.invert(d3.mouse(this)[0]);
  updateReadout("Men",   focus_men,   div_men, data_men, x0);
  updateReadout("Women", focus_women, div_women, data_women, x0);
}

</script>
