---
title: Pace Calculation
layout: default
---
<%= web_api("/assests/javascript/dynatable-0.3.1/vendor/jquery-1.7.2.min.js") %>
<%= web_api("/assests/javascript/dynatable-0.3.1/jquery.dynatable.js") %>

<style>
tbody tr:nth-child(odd) {
   background-color: #e3e3e3;
}
</style>

<table id="my-final-table">
  <thead>
    <th>Distance</th>
    <th>Even Pace Time</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
// create the data
function toJsonTable(minutes, seconds)
{
  seconds = 60*minutes+seconds;

  var data = [];
  data.push({distance:"1 mile",evenPaceTime:seconds});
  data.push({distance:"5 km",evenPaceTime:(seconds*3.1)});
  data.push({distance:"10 km",evenPaceTime:(seconds*6.2)});
  data.push({distance:"half marathon",evenPaceTime:(seconds*13.1)});
  data.push({distance:"marathon",evenPaceTime:(seconds*26.2)});
  return data;
}
var data = toJsonTable(8,0);

// configure how the table fills in
$.dynatableSetup({
  features: {
    paginate: false,
    sort: false,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
  }
});

function pad(number, length) {

    var str = '' + number;
    while (str.length < length) {
        str = '0' + str;
    }

    return str;

}

function secToTime(seconds)
{
  var hh = Math.floor(seconds / 3600);
  var ss = seconds - (hh * 3600);
  var mm = Math.floor(ss / 60);
  ss = ss - (mm * 60);

  return pad(hh, 1) +":" + pad(mm,2) + ":" + pad(ss,2);
}

// Function that renders the list items from our records
function rowWriter(rowIndex, record, columns, cellWriter) {
  var row = '<tr>';
  row = row + "<td>" + record.distance + "</td>";
  row = row + "<td><center>" + secToTime(record.evenPaceTime) + "</center></td>";
  // if (rowIndex % 3 === 0) { cssClass += ' first'; }
  // li = '<li class="' + cssClass + '"><div class="thumbnail"><div class="thumbnail-image">' + record.thumbnail + '</div><div class="caption">' + record.caption + '</div></div></li>';
  row = row + '</tr>'
  return row;
}

// link the json data to the table
$('#my-final-table').dynatable({
  dataset: {
    records: data
  },
  writers: {
    _rowWriter: rowWriter
  }
});
// dynatable.dom.update();
</script>
