---
title: Pace Calculation
layout: default
---
<%= web_api("/assests/javascript/dynatable-0.3.1/vendor/jquery-1.7.2.min.js") %>
<%= web_api("/assests/javascript/dynatable-0.3.1/jquery.dynatable.js") %>
<%= web_api("/js/time.js") %>

<style>
tbody tr:nth-child(odd) {
   background-color: #e3e3e3;
}
</style>

<p id="inputs">I will run my marathon in
<input type="text" name="time" id="inTime" value="3:30:00"/> hh:mm:ss
</p>

<table id="my-final-table">
  <thead>
    <th>Distance</th>
    <th>Pace</th>
    <th>Cumulative</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
var $table = $('#my-final-table');

// create the data
function toJsonTable(minutes, seconds)
{
  seconds = 60*minutes+seconds;

  var data = [];
  for (i=0; i<26; i++) {
    data.push({distance:i+" mile",pace:seconds,cumulative:(seconds*i)});
  }
  data.push({distance:"26.2 mile",pace:seconds,cumulative:(seconds*26.2)});
  return data;
}
var data = toJsonTable(8,0);

function updateTable()
{
  var distance = 26.2;
  var time = $('#inTime').val();
  var pace = Math.floor(timeToSec(time) / distance);

  var dynatable = $('#my-final-table').data('dynatable');
  dynatable.settings.dataset.originalRecords = toJsonTable(0, pace);
  dynatable.process();
}

var $inputs = $('#inputs');
$inputs.bind('input', updateTable);

$(document).ready(function(){
    $('#inDistance').change(function(){ updateTable(); });
    $('#inTime').change(function(){ updateTable(); });
});

// configure how the table fills in
$.dynatableSetup({
  features: {
    paginate: false,
    sort: false,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
  }
});

// Function that renders the list items from our records
function rowWriter(rowIndex, record, columns, cellWriter) {
  var row = '<tr>';
  row = row + "<td>" + record.distance + "</td>";
  row = row + "<td><center>" + secToTime(record.pace) + "</center></td>";
  row = row + "<td><center>" + secToTime(record.cumulative) + "</center></td>";
  // if (rowIndex % 3 === 0) { cssClass += ' first'; }
  // li = '<li class="' + cssClass + '"><div class="thumbnail"><div class="thumbnail-image">' + record.thumbnail + '</div><div class="caption">' + record.caption + '</div></div></li>';
  row = row + '</tr>'
  return row;
}

// link the json data to the table
$('#my-final-table').dynatable({
  dataset: {
    records: data
  },
  writers: {
    _rowWriter: rowWriter
  }
});
// dynatable.dom.update();
</script>
