---
title: Pace Calculation
layout: default
---
<%= web_api("jquery") %>
<%= web_api("dynatable") %>
<%= web_api("/js/time.js") %>

<style>
tbody tr:nth-child(odd) {
   background-color: #e3e3e3;
}
</style>

<%= render "partials/breadcrumb" %>

<p id="inputs">I ran
  <input type="text" name="distance" id="inDistance" value="1.0"/>
  miles in
<input type="text" name="time" id="inTime" value="8:00"/> hh:mm:ss
</p>

<table id="my-final-table">
  <thead>
    <th>Distance</th>
    <th>Even Pace Time</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
var $table = $('#my-final-table');

// create the data
function toJsonTable(minutes, seconds)
{
  seconds = 60*minutes+seconds;

  var data = [];
  data.push({distance:"1 mile",evenPaceTime:seconds});
  data.push({distance:"5 km",evenPaceTime:(seconds*3.1)});
  data.push({distance:"8 km",evenPaceTime:(seconds*5.0)});
  data.push({distance:"10 km",evenPaceTime:(seconds*6.2)});
  data.push({distance:"half marathon",evenPaceTime:(seconds*13.1)});
  data.push({distance:"30 km", evenPaceTime:(seconds*18.6)});
  data.push({distance:"marathon",evenPaceTime:(seconds*26.2)});
  return data;
}
var data = toJsonTable(8,0);

function updateTable()
{
  var distance = $('#inDistance').val();
  var time = $('#inTime').val();
  var pace = timeToSec(time) / distance;

  var dynatable = $('#my-final-table').data('dynatable');
  dynatable.settings.dataset.originalRecords = toJsonTable(0, pace);
  dynatable.process();
}

var $inputs = $('#inputs');
$inputs.bind('input', updateTable);

$(document).ready(function(){
    $('#inDistance').change(function(){ updateTable(); });
    $('#inTime').change(function(){ updateTable(); });
});

// configure how the table fills in
$.dynatableSetup({
  features: {
    paginate: false,
    sort: false,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
  }
});

// Function that renders the list items from our records
function rowWriter(rowIndex, record, columns, cellWriter) {
  var row = '<tr>';
  row = row + "<td>" + record.distance + "</td>";
  row = row + "<td><center>" + secToTime(record.evenPaceTime) + "</center></td>";
  // if (rowIndex % 3 === 0) { cssClass += ' first'; }
  // li = '<li class="' + cssClass + '"><div class="thumbnail"><div class="thumbnail-image">' + record.thumbnail + '</div><div class="caption">' + record.caption + '</div></div></li>';
  row = row + '</tr>'
  return row;
}

// link the json data to the table
$('#my-final-table').dynatable({
  dataset: {
    records: data
  },
  writers: {
    _rowWriter: rowWriter
  }
});
// dynatable.dom.update();
</script>
