---
title: Ragnar Log Sheet
layout: default
default_time: "3:30:00"
default_start: "1996-12-19T16:39:57-08:00"
#"2014-10-24T12:00-04:00"
---
<%= web_api("jquery") %>
<%= web_api("dynatable") %>
<%= web_api("/js/time.js") %>

<style>
table {
  border-collapse: collapse;
}
tbody tr:nth-child(odd) {
  background-color: #e3e3e3;
}
th {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}
th.lower:nth-of-type(3) {
  border-left: 2px solid black;
}
td:nth-of-type(3) {
  border-left: 2px solid black;
}
th.lower:nth-of-type(5) {
  border-left: 2px solid black;
}
td:nth-of-type(5) {
  border-left: 2px solid black;
}
th.lower:nth-of-type(7) {
  border-left: 2px solid black;
}
td {
  padding-left: 3px;
  padding-right: 3px;
}
td:nth-of-type(7) {
  border-left: 2px solid black;
}
</style>

<%= render "partials/breadcrumb" %>

<p id="inputs">
The race starts at <input type="time" name="inStartTime" id="inStartTime" value="12:00"/>
on <input type="date" name="startDate" id="inStartDate" value="2014-10-24"/>
</p>

<table id="result-table">
  <!--
  <thead class="upper">
    <th data-dynatable-no-sort="1" colspan="2"></th>
    <th data-dynatable-no-sort="1" colspan="2">Runner</th>
    <th data-dynatable-no-sort="1" colspan="2">Estimated</th>
    <th data-dynatable-no-sort="1" colspan="3">Actual</th>
  </thead>
  -->
  <thead class="lower">
    <th class="lower" dynatable-sort-header="1">Leg</th>
    <th class="lower">Miles</th>
    <th class="lower" data-dynatable-column="runNum">Num</th>
    <th class="lower" data-dynatable-column="runName" data-dynatable-no-sort="1">Name</th>
    <th class="lower" data-dynatable-column="estStart">Start</th>
    <th class="lower" data-dynatable-column="estTime" data-dynatable-no-sort="1">Elaps</th>
    <th class="lower" data-dynatable-column="actStart">Start</th>
    <th class="lower" data-dynatable-column="actStart" data-dynatable-no-sort="1">Elaps</th>
    <th class="lower">Pace</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
var $table = $('#result-table');

var map;
var results;

var runners = [];
runners.push({num:1,  name:"January", pace:480});
runners.push({num:2,  name:"February", pace:510});
runners.push({num:3,  name:"March", pace:540});
runners.push({num:4,  name:"April", pace:470});
runners.push({num:5,  name:"May", pace:600});
runners.push({num:6,  name:"June", pace:610});
runners.push({num:7,  name:"July", pace:480});
runners.push({num:8,  name:"August", pace:510});
runners.push({num:9,  name:"September", pace:540});
runners.push({num:10, name:"October", pace:470});
runners.push({num:11, name:"November", pace:600});
runners.push({num:12, name:"December", pace:610});

var actStart = [];

function updateResults()
{
  // reset the results
  results = [];

  var estStart = $('#inStartTime').val() + ":00";
  estStart = timeToSec(estStart);
  var startDate = $('#inStartDate').val();

  function addLeg(leg, runner, actStart)
  {
    results.push({leg:leg.leg, miles:leg.miles,
                    runNum:runner.num, runName:runner.name,
                    estStart:estStart,
                    estTime:(leg.miles*runner.pace),
                    actStart:actStart,
                    actTime:-1,
                    pace:-1});
    estStart = estStart + (leg.miles*runner.pace);
  }

  for ( var i=0; i<map.length-1; i++)
  {
    var j = i % runners.length;
    addLeg(map[i].properties, runners[j], actStart[i]);
  }
  results.push({leg:37, miles:0,
                runNum:13, runName:"-",
                estStart:estStart, estTime:-1,
                actStart:-1, actTime:-1, pace:-1});
}

// create the data
function toJsonTable()
{
  if (typeof(map) == "undefined")
  {
    $.getJSON( "/relay/maps/2013RagnarTennessee.json", function(data)
    {
      map = data.features;
      for (i=0; i<map.length-1; i++)
      {
        actStart.push(-1);
      }

      updateResults();

      var dynatable = $('#result-table').data('dynatable');
      dynatable.sorts.clear();
      dynatable.sorts.add('leg', 1) // 1=ASCENDING, -1=DESCENDING
      dynatable.settings.dataset.originalRecords = results;
      dynatable.process();
      return results;
    });
  }
  else
  {
    updateResults();

    var dynatable = $('#result-table').data('dynatable');
    dynatable.settings.dataset.originalRecords = results;
    dynatable.process();
  }
}

results = toJsonTable();

function updateTable()
{
  var dynatable = $('#result-table').data('dynatable');
  dynatable.settings.dataset.originalRecords = toJsonTable();
  dynatable.process();
}

// bind the inputs to update the table
var $inputs = $('#inputs');
$inputs.bind('input', updateTable);

// configure how the table fills in
$.dynatableSetup({
  features: {
    paginate: false,
    sort: true,
    pushState: true,
    search: false,
    recordCount: false,
    perPageSelect: false
  }
});

// link the json data to the table
$('#result-table').dynatable({
  table: {
    headRowClass: ".lower"
  },
  dataset: {
    records: results,
    sorts: { leg: 1 },
  },
  writers: {
    'leg': function(record) {
      return pad(record.leg,2);
    },
    // 'runNum': function(record) {
    //   if (record.runNum == 13) {
    //     return "-";
    //   } else {
    //     return record.runNum.toStr();
    //   }
    // },
    'estStart': function(record) {
      return secToTime(record.estStart);
    },
    'estTime': function(record) {
      return secToTime(record.estTime);
    },
    'actStart': function(record) {
      return secToTime(record.actStart);
    },
    'actTime': function(record) {
      return secToTime(record.actTime);
    },
    'pace': function(record) {
      return secToTime(record.pace,2);
    }
  },
  readers: {
    // 'runNum': function(el, record) {
      // var $el = $(el);

      // record['runNum'] = Number(el.innerHTML) || 7;
      // return record['runNum'];
      // try {
      //   return Number(el.innerHTML) || 7;
      // } catch (e) {
      //   return 13;
      // }
    // }
    // 'leg': function(el, record) {
    //   return Number(el.innerHTML);
    // }
    // _rowReader: rowReader
  },
});
// dynatable.dom.update();
</script>
