---
title: foss is awesome
---
{% include header.html %}

<div class="jumbotron">
    <h2>List of links for supporting/developing free open source collaborative software</h2>
</div><!-- /.jumbotron -->

<div class="row">
<div class="col-sm-4">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Learn Coding</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="https://www.freecodecamp.com/">freeCodeCamp</a> will help you learn to code while helping nonprofits</li>
        <li><a href="https://getbootstrap.com/examples/theme/">Bootstrap</a> is a very common web templating system</li>
      </ul>
    </div>
  </div><!-- panel -->
</div><!-- /.col-sm-4 -->
<div class="col-sm-4">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">General FOSS</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="https://letsencrypt.org/">Let's Encrypt</a> is a free, automated, and open Certificate Authority</li>
        <li><a href="http://choosealicense.com/">Choose an Open Source License</a></li>
      </ul>
    </div>
  </div><!-- panel -->
</div><!-- /.col-sm-4 -->
<div class="col-sm-4">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Progressive web apps</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="https://medium.com/javascript-scene/native-apps-are-doomed-ac397148a2c0#.35wpkq9fr">Progressive webapp howto</a></li>
        <li><a href="https://realfavicongenerator.net/">Real Favicon Generator</a></li>
        <li><a href="https://manifest-validator.appspot.com/">Web manifest validator</a></li>
        <li><a href="https://github.com/boyofgreen/manUp.js/">Web manifest polyfill</a></li>
        <li><a href="https://www.talater.com/upup/">UpUp</a> allows for offline usage off a website</li>
        <li><a href="https://pwa.rocks/">Index of progressive web apps</a></li>
        <li>Google's <a href="https://developers.google.com/web/progressive-web-apps/">guide</a></li>
      </ul>
    </div>
  </div><!-- panel -->
</div><!-- /.col-sm-4 -->
<div class="col-sm-4">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Random Coding Links</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="https://github.com/ericelliott/essential-javascript-links">Essential JavaScript Links</a></li>
        <li>d3.js <a href="https://github.com/d3/d3/wiki/Gallery">gallery</a> and <a href="https://github.com/d3/d3/wiki/Tutorials">tutorials</a></li>
        <li><a href="https://github.com/oneuijs/You-Dont-Need-jQuery">You Don't need jQuery</a></li>
        <li><a href="https://github.com/toddmotto/public-apis">A collective list of free JSON APIs</a> for use in web development</li>
      </ul>
    </div>
  </div><!-- panel -->
</div><!-- /.col-sm-4 -->
</div><!-- /.row -->

{% include footer.html %}
