<div id="footerbg"></div>
<div id="footer">
<% pageURL = "http://www.whitecargovan.com" + @item.path() %>
<% pageTitle = @item[:title] %>

<span class="about">
<%= link_to('About White Cargo Van', '/about') %>
</span>

<span class="social">
<!-- twitter -->
<a href="https://twitter.com/intent/tweet?url=<%= pageURL %>&text=<%= pageTitle %>&via=WhiteCargoVan" target="_blank">Twitter</a>,
<!-- facebook like -->
<a href="https://facebook.com/sharer.php?u=<%= pageURL %>" target="_blank">Facebook</a>,
<!-- g+ -->
<a href="https://plus.google.com/share?url=<%= pageURL %>" target="_blank">Google+</a>,
<!-- pinterest &media=URL of image to pin -->
<a href="http://pinterest.com/pin/create/button/?url=<%= pageURL %>&description=<%= pageTitle %>" target="_blank">Pinterest</a>,
<!-- digg -->
<a href="http://digg.com/submit?url=<%= pageURL %>" target="_blank">Digg</a>,
<!-- reddit -->
<a href="http://reddit.com/submit?url=<%= pageURL %>&title=<%= pageTitle %>" target="_blank">Reddit</a>,
<!-- email -->
<a href="mailto:?subject=White%20Cargo%20Van%20-%20<%= pageTitle %>&body=<%= pageURL %>" target="_blank">Email</a>
</span>
</div>
</body>
</html>
