<% if @item[:map] %>
<style>
  #map {
    width:  100%;
    height: 500px;
  }
</style>

<div id="map"></div>

<script>
var map = new google.maps.Map(d3.select("#map").node(),
                   {zoom: 7<% if @item[:gps_center] %>,
                    center: {<%= @item[:gps_center] %>}<% end %>
                    });

d3.json("<%= relative_path_to(@item[:map]) %>",
  function(error, topology) {
    //console.log(topology);
    <% if ! @item[:gps_center] %>
    console.log(d3.geo.centroid(topology))
    <% end %>

    <% if @item[:gps_sw] && @item[:gps_ne] %>
    // boundaries in google coords
    var southWest = new google.maps.LatLng(<%= @item[:gps_sw] %>);
    var northEast = new google.maps.LatLng(<%= @item[:gps_ne] %>);
    <% else %>
    // boundaries in d3 coords
    var bounds = d3.geo.bounds(topology)
    console.log(bounds)

    // boundaries in google coords
    var southWest = new google.maps.LatLng(bounds[0][1], bounds[0][0]);
    var northEast = new google.maps.LatLng(bounds[1][1], bounds[1][0]);
    <% end %>
    bounds = new google.maps.LatLngBounds(southWest,northEast);

    // set the boundaries and add the topology
    map.fitBounds(bounds);
    map.data.addGeoJson(topology);
});

</script>
<% end %>
