<% if @item[:map] %>
<style>
  #map {
    width:  100%;
    height: 500px;
  }
</style>

<div id="map"></div>

<script>
var map = new google.maps.Map(d3.select("#map").node(),
                  {zoom: 7,
                   center: {<%= @item[:gps_center] %>}});
// add the data
map.data.loadGeoJson('<%= @item[:map] %>');

// set the boundaries
var southWest = new google.maps.LatLng(<%= @item[:gps_sw] %>);
var northEast = new google.maps.LatLng(<%= @item[:gps_ne] %>);
var bounds = new google.maps.LatLngBounds(southWest,northEast);
map.fitBounds(bounds);

// add listeners
map.data.addListener('click', function(event) {
  var url = "https://www.google.com/maps/preview/place/";
  if ( /(iPad|iPhone|iPod)/g.test( navigator.userAgent ) ) {
    url = "http://maps.apple.com/?q=";
  }
  url = url + event.latLng.toUrlValue();
  window.open(url);
});
map.data.addListener('mouseover', function(event) {
  //console.log(event);
  //console.log(event.feature.j);
});
map.data.addListener('mouseout', function(event) {
  map.data.revertStyle();
});

// Origins, anchor positions and coordinates of the marker
// increase in the X direction to the right and in
// the Y direction down.
//var image = {
//  url: 'images/beachflag.png',
  // This marker is 20 pixels wide by 32 pixels tall.
//  size: new google.maps.Size(20, 32),
  // The origin for this image is 0,0.
//  origin: new google.maps.Point(0,0),
  // The anchor for this image is the base of the flagpole at 0,32.
//  anchor: new google.maps.Point(0, 32)
//};

// set up the markers and titles
map.data.setStyle(function(feature) {
  //console.log(feature);
  // also should return the icon
  return {title: "Leg "+feature.getProperty('leg')
                 +": "+feature.getProperty("miles")+" miles"};
});
</script>
<% end %>
