---
title: Races
---
{% include header.html %}

<div class="jumbotron">
    <h2>A variety of race information</h2>
</div><!-- /.jumbotron -->

<div class="page-header">
  <h3>Races that I plan on never doing</h3>
</div><!-- ./page-header -->

<ul>
  <li><a href="http://www.runnersworld.com/races/the-2016-barkley-marathons-one-person-finishes">Barkley</a> is a 100+ mile ultra-marathon through the woods of the Cumberland Range in East TN</li>
  <li><a href="http://www.raceacrossamerica.org/">Race Across America (RAAM)</a> is a 3000+ mile cycling race from Santa Monica Pier in Los Angeles to the Empire State Building in New York City</li>
  <li><a href="http://topofusion.com/azt/300.php">Arizona Trail 300</a> has the catchy tagline of "no entry fee, no prizes, absolutely no support"</li>
</ul>

<div class="page-header">
  <h3>Races that I have done</h3>
</div><!-- ./page-header -->

<ul>
  <li><a href="https://knoxvillemarathon.com/">Covenant Health Knoxville Marathon</a></li>
  <li><a href="http://flyingpigmarathon.com/">Flying Pig Marathon</a> in Cincinnati with a small part across the river in Kentucky</li>
  <li><a href="http://bourbonchase.com/">Bourbon Chase</a> follows the Kentucky Bourbon trail from Loisville to Lexyington</li>
  <li><a href="https://www.runragnar.com/event-detail/relay/tennessee">Tennessee Ragnar</a> starts in Chattanooga and ends in Nashville</li>
  <li><a href="https://www.runragnar.com/event-detail/trail/atlanta_ga">Atlanta Ragnar</a> is a trail run in the Olympic Horse Park (<a href="{{ site.baseurl }}/races/2017/AtlantaRagnar/">2017</a>)</li>
  <li><a href="https://runragnar.com/event-detail/trail/kentuckiana_ky">Kentuckiana Ragnar</a> is a trail run (<a href="{{ site.baseurl }}/races/2018/KentuckianaRagnar/">2018</a>)</li>
  <li><a href="http://blueridgerelay.com/">Blue Ridge Relay</a> is a relay run on the Blue Ridge Parkway with the snappy tagline of "Consider all others... a warm-up!" (<a href="{{ site.baseurl }}/races/2017/BlueRidgeRelay/">2017</a>)</li>
</ul>

{% include footer.html %}
