<%= render "partials/head" %>
<div id="headerbg"></div>
<div id="header">
  <h1><%= @item[:title] %></h1>
  <%= render "partials/breadcrumb" %>
</div>
<div id="main">
  <ul>
    <li><a href="<%= @item[:homepage] %>">Homepage</a></li>
    <li>Dates: <%= @item[:race_dates] %></li>
    <li>Location: <%= @item[:loc_start] %> to <%= @item[:loc_finish] %></li>
    <li>Registration: <%= @item[:registration] %></li>
  </ul>
  <%= yield %>
</div>
<%= render "partials/relaymap" %>
<%= render "partials/footer" %>
