---
title: Times of the multiverse
---
{% include header.html %}

<!-- lunar clock -->
<script language="JavaScript1.2">
window.onbeforeunload = function () {
   // Prevent caching of this page.
}
LST.f=0.9843529666671;
s=new Date();
LST.c=navigator.onLine?(Math.abs((s/0x3E8)|0-0x58c2c3ba)<30?0xd80cb1:0x599ad06b-(s/0x3E8)):0xd80cb1;

function LST(){
  s=(new Date()/0x3E8+LST.c)/LST.f;n=(s<0?'-&nbsp;':'');s=(s<0?-s:s);m=0x3C;h=0xE10;p=0x15180;d=0x278D00;y=0x1DA9C00;Y=(s/y)|0;s-=y*(Y++);D=(s/d)|0;s-=d*(D++);dd=DD(D);C=(s/p)|0;s-=p*(C++);cc=DD(C);H=(s/h)|0;s-=h*H;hh=DD(H);M=(s/m)|0;s-=m*M;mm=DD(M);ss=DD((s/1)|0);return(Y+"-"+dd+"-"+cc+"&nbsp;&nabla;&nbsp;"+hh+":"+mm+":"+ss);
}

function DD(n){
    return(n<0xA?'0'+n:n);
}
</script>
<!-- lunar clock end -->


<!-- utc/gmt -->
<script charset="utf-8" src="/javascript/datetime.js"></script>
<script type="text/javascript">
function getTime(gmt) {
  var datetime=new Date();
  return datetime.iso8601(gmt);
}
function getDecTime() {
  var datetime=new Date();
  return datetime.decimal();
}
</script>

</script>
<!-- utc/gmt end -->

<!-- attach to window -->
<script language="JavaScript1.2">
function DisplayTime(){
  document.getElementById('dUTC').innerHTML=getTime(true);
  document.getElementById('dLocal').innerHTML=getTime(false);
  document.getElementById('dLST').innerHTML=LST();
  document.getElementById('decimalTime').innerHTML=getDecTime();
  setTimeout("DisplayTime()",0x3D8);
}
window.onload=DisplayTime;</script>


<div class="jumbotron">
    <h2>Time is worth more than money</h2>
</div><!-- /.jumbotron -->

<div class="container-fluid text-center center-block">
  <div class="row">
    <div class="col-md-4 col-sm-3">
      <p>
          Local Time (<script type="text/javascript">document.write((new Date()).zoneAbbr())</script>)<br>
          <b id="dLocal"></b>
      </p>
    </div>

    <div class="col-md-4 col-sm-3">
      <p>
          UTC/GMT<br>
          <b id="dUTC"></b>
      </p>
    </div>

    <div class="col-md-4 col-sm-3">
      <p>
          Week <script type="text/javascript">document.write((new Date()).week()+' of '+(new Date()).getUTCFullYear())</script>
      </p>
    </div>

    <div class="clearfix visible-sm-block"></div>

  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-0 col-sm-3 col-sm-offset-2">
      <p>
          <a href="http://lunarclock.org">Lunar&nbsp;Standard&nbsp;Time (LST)</a><br>
          <b id="dLST"></b>
      </p>
    </div>

    <div class="col-md-6 col-sm-3">
      <p>
          <a href="https://en.wikipedia.org/wiki/Decimal_time">Decimal Time</a> (UTC/GMT)<br>
          <b id="decimalTime"></b>
      </p>
    </div>

    <div class="clearfix visible-sm-block"></div>

  </div>
</div>

{% include footer.html %}
